.formInput {
  display: flex;
  flex-direction: column;

  padding: 10px;
  width: 350px;
  border: 2px solid grey;
  border-radius: 10px;
}

.labelName {
  margin-bottom: 20px;
}

.inputName {
  width: 250px;
  height: 20px;
}

.btnContact {
  width: 150px;
  padding: 5px 10px;
  background-color: white;
  font-weight: 600;
  text-transform: capitalize;
  outline: none;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  transition: background-color 200ms linear, box-shadow 200ms linear;
}

.btnContact:hover {
  background-color: grey;
}

.btnContact:active {
  box-shadow: inset 0 0 5px grey;
}
